.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  border-radius: .8rem;
  flex-shrink: 0;
  background: transparent;
  transition: 200ms;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  &._yellow{
    color: $brand-color-yellow;
    padding: 1.8rem 8.6rem;
    border: 1px solid $brand-color-yellow;
    &:hover{
      color: $col-white;
      background: $brand-color-yellow;
    }
  }
}