.about{
  padding: 0 0 10rem;
  margin: -1.6rem 0 0 0;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 99.3rem;
    width: 87.2rem;
    background-image: url("../img/general/about-bg.png");
    background-repeat: no-repeat;
    left: 0;
    top: 10rem;
    z-index: 1;
    @media (max-width: $mob) {
      height: auto;
      width: 100%;
    }
  }
  .container{
    position: relative;
    z-index: 3;
  }
  @media (max-width: $desktop-sl) {
    padding: 0 0 6.4rem;
    margin: 0 ;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.6rem;
    @media (max-width: $mob) {
      text-align: center;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
    &-title{
      color:$brand-color-yellow;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }
    &-desc{
      width: 100%;
      max-width: 64rem;
      p{
        color: #6F7A83;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        margin-bottom: 1.9rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: $desktop-sl) {
      flex-direction: column;
      margin-bottom: 6.4rem;
      &-title{width: 100%;
        margin-bottom: 1.4rem;}
      &-desc{max-width: 100%;}
    }
  }
}