.hero {
  position: relative;
  min-height: 84.4rem;
  overflow: hidden;
  @media (max-width: $mob) {
    min-height: 67.4rem;
    text-align: center;
  }
  .span-parallax{
    position: absolute;
    content: '';
    height: 17.6rem;
    width: 38.4rem;
    background-image: url("../img/general/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    transition: all ease 500ms;
    z-index: 3;
  }
  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
  &__content{
    position: relative;
    padding: 0 11.2rem;
    max-width: 114rem;
    z-index: 3;
    @media (max-width: $desktop-x) {
      padding: 0;
      max-width: 100%;
    }
    p{
      color: $brand-color-yellow;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 4.8px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 2.4rem;
    }
    h1{
      color: $col-white;
      margin-bottom: 4rem;
      b{
        color: $brand-color-yellow;
      }
    }
    a{
      color: $brand-color-yellow;
    }
  }
  &__media{
    width: 50%;
    max-width: 63.8rem;
    img{
      width: 100%;
    }
    &.portfolio__hero-media{}
  }
  &__bg{
    top: -20rem;
    left: 0;
    right: 0;
    height: calc(100% + 20rem);
    position: absolute;
    z-index: 1;
    &:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(182deg, #0E0C00 28.98%, rgba(14, 12, 0, 0.85) 39.14%, rgba(14, 12, 0, 0.00) 98.61%);
      z-index: 2;
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.hero__about{
    min-height: 100vh;
    @media (max-width: $mob) {
      padding-top: 22rem;
    }
    .container{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $desktop-x) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        .hero__media{
          margin: 1.4rem auto 0;
          width: 100%;
        }
      }
    }
    .hero__content{
      max-width: 64rem;
      padding: 0;
      @media (max-width: $desktop-sl) {
        max-width: 100%;
      }
    }
  }
  &.hero__contact{
    min-height: 100vh;
    padding: 18.1rem  0 0;
    @media (max-width: $mob) {
      padding-top: 22rem;
    }
    .container{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $desktop-x) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        .hero__media{
          margin: 1.4rem auto 0;
          width: 100%;
        }
      }
    }
    .hero__content{
      width: 50%;
      max-width: 64rem;
      padding: 0;
      @media (max-width: $mob) {
        width: 100%;
      }
      .contact__item{
        &:first-of-type{
          margin-top: 12rem;
          @media (max-width: $mob) {
            margin-top: 4rem;
            margin-bottom: 2rem;
            padding-bottom: 2rem;
          }
        }
        li{
          @media (max-width: $mob) {
            flex-direction: column;
            text-align: center;
            span, p, a{
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  &__about-bg{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__contact-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.line{
  display: flex;
  align-items: center;
  overflow: hidden;
  span{
    white-space: nowrap;
    flex-shrink: 0;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: b-text-scroll 35s linear infinite;
    color: rgba(41, 47, 51, 0.20);
    font-size: 12.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 128px */
    letter-spacing: 12.8px;
    @media (max-width: $mob) {
      font-size: 7.8rem;
      letter-spacing: 7.8px;
    }
  }
}
@keyframes b-text-scroll {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.parallax-element{
  transition: all ease 300ms;
}
.pdf__page{
  .about__item{
    flex-direction: column;
  }
  .about__item-desc{
    max-width: 100%;
    margin-top: 10rem;
    embed, iframe, .load-html{
      width: 100%;
      height: 90vh;
    }
    @media (max-width: $desktop-sl) {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}