.hero {
  position: relative;
  min-height: 84.4rem;
  overflow: hidden;
  @media (max-width: $mob) {
    min-height: 67.4rem;
  }
  &:after{
    position: absolute;
    content: '';
    height: 17.6rem;
    width: 38.4rem;
    background-image: url("../img/general/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
  &__content{
    position: relative;
    padding: 0 11.2rem;
    max-width: 114rem;
    z-index: 3;
    @media (max-width: $desktop-x) {
      padding: 0;
      max-width: 100%;
    }
    p{
      color: $brand-color-yellow;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 4.8px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 2.4rem;
    }
    h1{
      color: $col-white;
      margin-bottom: 4rem;
      b{
        color: $brand-color-yellow;
      }
    }
    a{
      color: $brand-color-yellow;
    }
  }
  &__media{
    width: 50%;
    max-width: 63.8rem;
    img{
      width: 100%;
    }
    &.portfolio__hero-media{}
  }
  &__bg{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    &:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(182deg, #0E0C00 28.98%, rgba(14, 12, 0, 0.85) 39.14%, rgba(14, 12, 0, 0.00) 98.61%);
      z-index: 2;
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.hero__about{
    min-height: 100vh;
    @media (max-width: $mob) {
      padding-top: 12rem;
    }
    .container{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $desktop-x) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        .hero__media{
          margin: 1.4rem auto 0;
          width: 100%;
        }
      }
    }
    .hero__content{
      max-width: 64rem;
      padding: 0;
    }
  }
  &.hero__contact{
    min-height: 100vh;
    padding: 18.1rem  0 11.6rem;
    @media (max-width: $mob) {
      padding-top: 12rem;
    }
    .container{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $desktop-x) {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        .hero__media{
          margin: 1.4rem auto 0;
          width: 100%;
        }
      }
    }
    .hero__content{
      width: 50%;
      max-width: 64rem;
      padding: 0;
      .contact__item{
        &:first-of-type{
          margin-top: 12rem;
        }
      }
    }
  }
  &__about-bg{
    position: absolute;
    top: 0;
    right: 0;
  }
  &__contact-bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.line{
  display: flex;
  align-items: center;
  overflow: hidden;
  span{
    white-space: nowrap;
    flex-shrink: 0;
    width: max-content;
    display: flex;
    align-items: center;
    transform: translateX(0);
    animation: b-text-scroll 35s linear infinite;
    color: rgba(41, 47, 51, 0.20);
    font-size: 12.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 128px */
    letter-spacing: 12.8px;
    @media (max-width: $mob) {
      font-size: 7.8rem;
      letter-spacing: 7.8px;
    }
  }
}
@keyframes b-text-scroll {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.service{
  padding: 13.5rem 0 10rem;
  position: relative;
  @media (max-width: $desktop-sl) {
    padding: 6.4rem 0 6.4rem;
  }
  &:after{
    position: absolute;
    content: '';
    height: 90.4rem;
    width: 100.8rem;
    background-image: url("../img/general/about-hero-bg.png");
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    z-index: 1;
    @media (max-width: $mob) {
      height: auto;
      width: 100%;
    }
  }
  .line{
    position: absolute;
    top: 2.6rem;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    @media (max-width: $desktop-sm) {
      flex-direction: column-reverse;
    }
  }
  &__media{
    max-width: 56rem;
    border-radius: 1.5rem;
    background: linear-gradient(99deg, #090808 10.82%, #12181C 94.38%);
    @media (max-width: $desktop-sm) {
      max-width: 100%;
    }
    li{
      padding: 5.5rem 7.2rem 3.9rem;
      border-bottom: 1px solid #4A4A4A;
      &:last-of-type{
        border-bottom: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  &__desc{
    max-width: 64rem;
    @media (max-width: $desktop-sm) {
      max-width: 100%;
      margin-bottom: 1.4rem;
    }
  }
  &__title{
    margin-bottom: 9.4rem;
    display: flex;
    align-items: center;
    @media (max-width: $mob) {
      flex-direction: column;
      margin-bottom: 2.4rem;
      align-items: flex-start;
    }
    h2{
      color: $brand-color-yellow;
      margin-right: 6rem;
      @media (max-width: $mob) {
        margin:0 0 2.4rem 0;
      }
    }
    span{
      color:  #6F7A83;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
    }
  }
  &__item{
    padding: 6.4rem 0;
    border-bottom:1px solid #201901;
    color: #FFF;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    @media (max-width: $mob) {
      padding: 2.4rem 0;
    }
    &:first-of-type{
      border-top: 1px solid #201901;
    }
    span{
      color: $brand-color-yellow;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      display: inline-block;
      margin-right: 8rem;
      @media (max-width: $mob) {
        margin-right: 1rem;
      }
    }
  }
}
.portfolio{
  padding: 12rem 0 13.4rem;
  position: relative;
  @media (max-width: $desktop-sl) {
    padding: 6.4rem 0 6.4rem;
  }
  &-bg{
    position: absolute;
    left: 0;
    top: .8rem;
    @media (max-width: $desktop-x) {
      top: 10rem;
      max-width: 22rem;
      img{
        width: 100%;
      }
    }
  }
  .container{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $mob) {
      flex-wrap: wrap;
      padding-bottom: 8rem;
    }
  }
  &__title{
    color: $brand-color-yellow;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: 4.8px;
    text-transform: uppercase;

  }
  &__info{
    max-width: 33.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $mob) {
      max-width: 100%;
    }
  }
  &-slider{
    max-width: 64rem;
    width: 100%;
    @media (max-width: $mob) {
      max-width: 100%;
    }
    .slide{
      img{
        width: 100%;
      }
    }
  }
  &__btn{
    display: flex;
    margin-bottom: 0;
    @media (max-width: $mob) {
      margin-bottom: 0;
      position: absolute;
      bottom: 0;
    }
  }
  &-button-prev,
  &-button-next{
    border-radius: .5rem;
    border: 1px solid #201901;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 200ms;
    svg{
      width: 1.36rem;
      height: 1.36rem;
    }
    &:hover{
      border-color: $brand-color-yellow;
      background: $brand-color-yellow;
      svg{
        path{
          fill: #fff;
        }
      }
    }
  }
  &-button-next{ }
  &-button-prev{
    margin-right: 4.4rem;
  }
  &__item{
    &-title{
      margin-bottom: 4rem;
      @media (max-width: $mob) {
        margin-bottom: 2rem;
      }
      a{
        color: #FFF;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        @media (max-width: $mob) {
          font-size: 2.2rem;
        }
      }
    }
    &-media{
      margin-bottom: 4rem;
      border-radius: 1.5rem;
      @media (max-width: $mob) {
        margin-bottom: 2rem;
      }
    }
    &-desc{
      color: #6F7A83;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      margin-bottom: 4rem;
      @media (max-width: $mob) {
        margin-bottom: 2rem;
      }
    }
    &-link{
      ._yellow{
        padding: 1.4rem 7.3rem;
        color: $brand-color-yellow;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
.information{
  padding: 13rem 0 12rem;
  position: relative;
  @media (max-width: $desktop-sl) {
    padding: 6.4rem 0 6.4rem;
  }
  &:before, &:after{
    position: absolute;
    content: '';
    background-size: cover;
  }
  &:before{
    top: 30rem;
    left: 0;
    width: 11.5rem;
    height: 25.3rem;
    background-image: url("../img/general/info-left.png");
  }
  &:after{
    top: -3rem;
    right: 0;
    width: 14.4rem;
    height: 18.5rem;
    background-image: url("../img/general/info-right.png");
  }
  &__logo{
    text-align: center;
    margin:0 auto 9.6rem;
    max-width: 59.6rem;
    @media (max-width: $desktop-sm) {
      max-width: 80%;
      margin: 0 auto 6.4rem;
    }
    img{
      width: 100%;
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    @media (max-width: $desktop-sm) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__bg{
    height: 66.5rem;
    margin: 10rem 0 0;
    @media (max-width: $mob) {
      height: auto;
      margin: 1rem 0;
    }
    img{
      width: 100%;
    }
  }
  &__item{
    width: 33.333%;
    @media (max-width: $desktop-sm) {
      width: 100%;
      padding-bottom: 2.4rem;
      margin-bottom: 2.4rem;
      border-bottom: 1px solid #201901;
    }
    &:nth-child(1){}
    &:nth-child(3){
      padding-left: 12.4rem;
      @media (max-width: $desktop-sm) {
        padding-left: 0;
      }
    }
    &:nth-child(2){
      padding: 0 12.4rem;
      position: relative;
      @media (max-width: $desktop-sm) {
        padding: 0;
      }
      &:before, &:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -3rem;
        background: #201901;
        width: 1px;
        height: 6rem;
        @media (max-width: $desktop-sm) {
          display: none;
        }
      }
      &:before{
        left: 0;
      }
      &:after{
        right: 0;
      }
    }
    h3{
      color: $brand-color-yellow;
      font-style: normal;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 1.6rem;
    }
    p{
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 14px */
      text-transform: capitalize;
    }
  }
}
.contact{
  padding: 10rem 0 20rem;
  @media (max-width: $mob) {
    padding: 6.4rem 0 6.4rem;
  }
  &__wrap{
    border-radius: 1.5rem;
    padding: 8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $desktop-sm) {
      flex-direction: column;
    }
    @media (max-width: $mob) {
      padding: 1.2rem;
    }
  }
  &__media{
    width: 100%;
    max-width: 44.8rem;
    @media (max-width: $desktop-sm) {
      max-width: 100%;
      margin-bottom: 2.4rem;
    }
    img{
      width: 100%;
    }
  }
  &__title{
    margin-bottom: 6.7rem;
    @media (max-width: $mob) {
      margin-bottom: 2rem;
    }
    h2{
      margin-bottom: 4rem;
      color: #fff;
      @media (max-width: $mob) {
        margin-bottom: 2rem;
      }
    }
    p{
      color: #6F7A83;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
    }
    a{
      margin-top: 2rem;
      color: $brand-color-yellow;
      @media (max-width: $mob) {
        margin-top: 1rem;
      }
      &:hover{
        color: #fff;
      }
    }
  }
  &__img{
    max-width: 41.5rem;
    @media (max-width: $desktop-sm) {
      max-width: 100%;
    }
    img{
      width: 100%;
    }
  }
  &__form{
    width: 100%;
    max-width: 47.8rem;
    padding: 4.8rem 0 0;
    @media (max-width: $desktop-sm) {
      max-width: 100%;
    }
    label{
      color: #FFF;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 14px */
      text-transform: capitalize;
      display: block;
      margin-bottom: 1.6rem;
    }
    input{
      display: block;
      margin-bottom: 3.2rem;
      width: 100%;
      background: transparent;
      border-radius: .8rem;
      border: 1px solid #6F7A83;
      color:  #8C8C8C;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
      padding: 1.5rem 1.6rem;
      &:focus{
        border-color: $brand-color-yellow;
        color: $brand-color-yellow;
      }
    }
    button{
      @media (max-width: $mob) {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
.about{
  padding: 0 0 10rem;
  margin: -1.6rem 0 0 0;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    height: 99.3rem;
    width: 87.2rem;
    background-image: url("../img/general/about-bg.png");
    background-repeat: no-repeat;
    left: 0;
    top: 10rem;
    z-index: 1;
    @media (max-width: $mob) {
      height: auto;
      width: 100%;
    }
  }
  .container{
    position: relative;
    z-index: 3;
  }
  @media (max-width: $desktop-sl) {
    padding: 0 0 6.4rem;
    margin: 0 ;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9.6rem;
    &:last-of-type{
      margin-bottom: 0;
    }
    &-title{
      color:$brand-color-yellow;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 4.8px;
      text-transform: uppercase;
    }
    &-desc{
      width: 100%;
      max-width: 640px;
      p{
        color: #6F7A83;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        margin-bottom: 1.9rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    @media (max-width: $desktop-sl) {
      flex-direction: column;
      margin-bottom: 6.4rem;
        &-title{width: 100%;
          margin-bottom: 1.4rem;}
        &-desc{max-width: 100%;}
    }
  }
}
.full-text{
  padding: 12rem 0 9.1rem;
  color: #6F7A83;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  &.pt-0{
    padding-top: 1.6rem;
  }
  @media (max-width: $desktop-sl) {
    padding: 6.4rem 0 6.4rem;
  }
  @media (max-width: $mob) {
    font-size: 2rem;
  }
}
.bread-crumbs{
  top: 11.4rem;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 4;
  margin: 0 auto;
  @media (max-width: $mob) {
    top: 9.4rem;
  }
  .container{
    height: auto;
  }
  ul{
    display: flex;
  }
  li{
    margin-right: 3.2rem;
    color: $brand-color-yellow;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    text-transform: capitalize;
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      right: -2.4rem;
      top: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.66667 11.3334L10 8.00008L6.66667 4.66675' stroke='%238C8C8C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: cover;
    }
    &:last-of-type{
      margin-right: 0;
      &:after{
        display: none;
      }
    }
  }
  a{
    color: #8C8C8C;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14px */
    text-transform: capitalize;
    &:hover{
      color: $brand-color-yellow;
    }
  }
}
.service__page{
  padding: 13rem 0 2.6rem;
  @media (max-width: $mob) {
    padding: 6.4rem 0 2.4rem;
  }
  &__page-wrap{
    counter-reset: awesome-counter;
  }
  .service__item{
    counter-increment: awesome-counter;
    border-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9.6rem;
    padding-left: 11.2rem;
    position: relative;
    @media (max-width: $mob) {
      padding-left: 0;
      margin-bottom: 6.4rem;
      flex-wrap: wrap;
    }
    &:first-of-type{
      border-top: 0;
    }
    &:before{
      position: absolute;
      left: 0;
      top: 6rem;
      content: "0" counter(awesome-counter);
      color: $brand-color-yellow;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      @media (max-width: $mob) {
        top: 0;
        position: relative;
      }
    }
    &-desc{
      width: 100%;
      max-width: 44.8rem;
      h4{
        color: #FFF;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 33.6px */
        margin-bottom: 4rem;
        margin-top: 2rem;
        @media (max-width: $mob) {
          margin-bottom: 2rem;
          margin-top: 1rem;
        }
      }
      p{
        margin-bottom: 1.6rem;
        color: #8C8C8C;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
      }
    }
    &-media{
      border-radius: 1.5rem;
      background: linear-gradient(99deg, #090808 10.82%, #12181C 94.38%);
      width: 100%;
      max-width: 56rem;
      padding: 7.2rem;
      @media (max-width: $mob) {
        padding: 1.2rem;
        width: 100%;
      }
      img{
        width: 100%;
      }
    }
  }
}
.card{
  padding: 10rem 0 22rem;
  @media (max-width: $mob) {
    padding: 6.4rem 0 6.4rem;
  }
  &__item{
    margin-bottom: 22rem;
    @media (max-width: $mob) {
      margin-bottom: 9rem;
    }
    &:last-of-type{
      margin-bottom: 0;
    }
    &-title{
      color: #FFF;
      margin-bottom: 4rem;
      @media (max-width: $mob) {
        margin-bottom: 1.6rem;
      }
      h2{
        color: #fff;
      }
    }
    &-media{
      width: 100%;
      margin-bottom: 9.6rem;
      @media (max-width: $mob) {
        margin-bottom: 2.6rem;
      }
      img{
        width: 100%;
      }
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.4rem;
    @media (max-width: $mob) {
      flex-direction: column;
      margin-bottom: 2.4rem;
    }
    &-title{
      color: $brand-color-yellow;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 16px */
      letter-spacing: 4.8px;
      text-transform: uppercase;
      max-width: 54rem;
      @media (max-width: $mob) {
        max-width: 100%;
      }
    }
    &-text{
      width: 100%;
      max-width: 64rem;
      color:  #6F7A83;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 25.6px */
      @media (max-width: $mob) {
        max-width: 100%;
      }
      p{
        margin-bottom: 1.6rem;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
  }
}
.contact{
  &__item{
    border-bottom: 1px solid #201901;
    margin-bottom: 3.2rem;
    padding-bottom: 3.2rem;
    ul{}
    li{
      display: flex;
      margin-bottom: 3.2rem;
      &:last-of-type{
        margin-bottom: 0;
      }
      span{
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 16px */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        &:first-of-type{
          width: 100%;
          max-width: 22.4rem;
          color: $brand-color-yellow;
        }
        &:nth-of-type(2){
          color: #8C8C8C;
        }
      }
      p{
        color: #8C8C8C;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        max-width: 26rem;
        letter-spacing: 0;
        text-transform: none;
      }
      a{
        color: #8C8C8C;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%; /* 25.6px */
        max-width: 26rem;
        &:hover{
          color: $brand-color-yellow;
        }
      }
    }
  }
}