@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 110%;
}

h2 {
  font-size: 4.8rem;
  line-height: 100%;
  font-weight: 700;
}

h3 {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
}

h4 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 130%;
}

h5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 100%;
}

h6 {
  font-size: 1.8rem;
  line-height: 111%;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 160%;
}

p small {
  font-size: 1.4rem;
}

p strong {
  font-size: 2rem;
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-SemiBold.woff") format("woff"), url("../fonts/NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 0.6944444444vw;
}

body {
  background: #0A0A0A;
  overflow: initial;
}

body.js-loaded {
  overflow: initial;
}

body.js-loaded .page-preloader {
  opacity: 0;
  pointer-events: none;
}

.root {
  padding: 0 0 15rem 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 144rem;
  padding: 0 6.4rem;
  margin: 0 auto;
}

.container._large {
  padding: 0 6.4rem;
}

.header {
  position: absolute;
  z-index: 10;
  top: 2.4rem;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #201901;
}

.header.active .header__content_nav {
  top: 0;
}

.header.active .header__content_cross span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

.header.active .header__content_cross span:nth-child(2) {
  left: -10px;
  opacity: 0;
}

.header.active .header__content_cross span:nth-child(3) {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(-45deg);
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0 1.2rem;
}

.header__content_logo {
  position: relative;
  z-index: 2;
  height: 3.2rem;
  width: auto;
}

.header__content_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__content_nav {
  display: flex;
  align-items: center;
}

.header__content_nav ul {
  display: flex;
  align-items: center;
}

.header__content_nav ul li {
  margin: 0 5.6rem 0 0;
  padding-bottom: 1.4rem;
}

.header__content_nav ul li a {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
}

.header__content_nav ul li.has-sub {
  position: relative;
}

.header__content_nav ul li.has-sub:after {
  position: absolute;
  content: "";
  right: -1rem;
  top: 30%;
  margin-top: -0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #FFC600;
}

.header__content_nav ul li.has-sub ul {
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  padding: 2.4rem;
  align-items: flex-start;
  width: 22rem;
  z-index: -1;
  flex-direction: column;
  border-radius: 1.5rem;
  background: linear-gradient(99deg, #080808 10.82%, #171E23 94.38%);
}

.header__content_nav ul li.has-sub ul li {
  margin: 0 0 1.3rem 0;
  padding-bottom: 0;
}

.header__content_nav ul li.has-sub ul a {
  color: #8C8C8C;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
}

.header__content_nav ul li.has-sub ul a:hover {
  color: #FFC600;
}

.header__content_nav ul li.has-sub:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.header__content_cross {
  position: relative;
  z-index: 2;
  padding: 0.8rem 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
}

.header__content_cross span {
  position: absolute;
  width: 2.4rem;
  height: 0.2rem;
  background-color: #0A0A0A;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  transition: 500ms;
}

.header__content_cross span:first-child {
  top: 0.8rem;
}

.header__content_cross span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.header__content_cross span:last-child {
  top: initial;
  bottom: 0.8rem;
}

.footer__top .container,
.footer__bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: flex;
}

.footer__top {
  border-bottom: 1px solid #201901;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
}

.footer__top li {
  margin-left: 7.2rem;
}

.footer__top a {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
}

.footer__top a:hover {
  color: #FFC600;
}

.footer__copy {
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 12px */
}

.footer__bottom {
  padding-bottom: 4rem;
}

.footer__bottom li {
  margin-left: 6.4rem;
}

.footer__bottom a {
  color: #6F7A83;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

.footer__bottom a:hover {
  text-decoration-line: none;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
  background: transparent;
  transition: 200ms;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
}

.button span {
  position: relative;
  border: 1px solid #0A0A0A;
  padding: 1.3rem 2.3rem;
  border-radius: 20px;
}

.button:before {
  content: "";
  position: absolute;
  bottom: calc(-100% - 4px);
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  transition: 200ms cubic-bezier(0.7, 0, 0.2, 1);
  border-radius: 19px;
}

.button-large span {
  padding: 1.3rem 4.8rem;
}

.button._light {
  color: #0A0A0A;
}

.button._light:before {
  background-color: #0A0A0A;
}

.button._black {
  color: #FFFFFF;
}

.button._black:before {
  background-color: #0A0A0A;
  bottom: -1px;
}

.button__yellow {
  color: #FFC600;
  padding: 1.8rem 8.6rem;
  border: 1px solid #FFC600;
}

.button__yellow:hover {
  color: #FFFFFF;
  background: #FFC600;
}

.page-preloader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.page-preloader__content {
  display: flex;
}

.page-preloader__content_logo {
  opacity: 0;
  width: 3.8rem;
  height: 4rem;
  animation: show-logo 2500ms 500ms cubic-bezier(0.18, 0.88, 0.56, 1.11) infinite;
}

@keyframes show-logo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.page-preloader__content_logo svg {
  width: 3.8rem;
  height: 4rem;
}

.page-preloader__content_text {
  overflow: hidden;
  padding: 0.2rem 0 0 0.2rem;
  width: 0;
  height: 3.2rem;
  animation: show-text 2500ms 500ms cubic-bezier(0.18, 0.88, 0.56, 1.11) infinite;
}

@keyframes show-text {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  70% {
    opacity: 1;
    width: 100%;
  }

  100% {
    opacity: 0;
  }
}

.page-preloader__content_text svg {
  width: 10.7rem;
  height: 3.2rem;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.hero .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  position: relative;
  z-index: 3;
}

.hero__content span {
  color: #FFC600;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2.4rem;
}

.hero__content h1 {
  color: #FFFFFF;
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 4rem;
}

.hero__content h1 b {
  color: #FFC600;
}

.hero__content a {
  color: #FFC600;
}

.hero__media {
  width: 50%;
  max-width: 63.8rem;
}

.hero__media img {
  width: 100%;
}

.hero__media.portfolio__hero-media {
  transform: rotate(-24.725deg);
}

.hero__bg {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.hero__bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(182deg, #0E0C00 28.98%, rgba(14, 12, 0, 0.85) 39.14%, rgba(14, 12, 0, 0) 98.61%);
  z-index: 2;
}

.hero__bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero.hero__about {
  height: 100vh;
}

.hero.hero__about .container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero.hero__about .hero__content {
  max-width: 64rem;
}

.hero__about-bg {
  position: absolute;
  top: 0;
  right: 0;
}

.hero__contact-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.line span {
  white-space: nowrap;
  text-transform: uppercase;
  flex-shrink: 0;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  transform: translateX(0);
  animation: b-text-scroll 35s linear infinite;
  color: rgba(41, 47, 51, 0.2);
  font-size: 12.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 128px */
  letter-spacing: 12.8px;
}

@keyframes b-text-scroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.service {
  padding: 17rem 0 10rem;
  position: relative;
}

.service .line {
  position: absolute;
  top: 6.4rem;
  left: 0;
  right: 0;
  z-index: 1;
}

.service .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.service__media {
  max-width: 56rem;
  border-radius: 1.5rem;
  background: linear-gradient(99deg, #090808 10.82%, #12181C 94.38%);
}

.service__media li {
  padding: 4.2rem 7.2rem;
  border-bottom: 1px solid #4A4A4A;
}

.service__media li:last-of-type {
  border-bottom: 0;
}

.service__desc {
  max-width: 64rem;
}

.service__title {
  margin-bottom: 9rem;
  display: flex;
  align-items: center;
}

.service__title h2 {
  color: #FFC600;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-right: 6rem;
}

.service__title span {
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
}

.service__item {
  padding: 6.4rem 0;
  border-bottom: 1px solid #201901;
  color: #FFF;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}

.service__item:first-of-type {
  border-top: 1px solid #201901;
}

.service__item span {
  color: #FFC600;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  display: inline-block;
  margin-right: 8rem;
}

.portfolio {
  padding: 20rem 0 13.4rem;
  position: relative;
}

.portfolio-bg {
  position: absolute;
  left: 0;
  top: 0;
}

.portfolio .container {
  display: flex;
  justify-content: flex-end;
}

.portfolio__title {
  color: #FFC600;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.portfolio__info {
  max-width: 33.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-slider {
  max-width: 64rem;
}

.portfolio__btn {
  display: flex;
}

.portfolio-button-prev,
.portfolio-button-next {
  border-radius: 0.5rem;
  border: 1px solid #201901;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease 200ms;
}

.portfolio-button-prev:hover,
.portfolio-button-next:hover {
  border-color: #FFC600;
  background: #FFC600;
}

.portfolio-button-prev:hover svg path,
.portfolio-button-next:hover svg path {
  fill: #fff;
}

.portfolio-button-prev {
  margin-right: 4.4rem;
}

.portfolio__item-title {
  margin-bottom: 4rem;
}

.portfolio__item-title a {
  color: #FFF;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.portfolio__item-media {
  margin-bottom: 4rem;
  border-radius: 1.5rem;
}

.portfolio__item-desc {
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 4rem;
}

.portfolio__item-link .button__yellow {
  padding: 1.4rem 7.3rem;
  color: #FFC600;
}

.portfolio__item-link .button__yellow:hover {
  color: #fff;
}

.information {
  padding: 10rem 0 12rem;
}

.information__logo {
  text-align: center;
  margin-bottom: 9.6rem;
}

.information__wrap {
  display: flex;
  justify-content: space-between;
}

.information__bg {
  margin-bottom: -3rem;
}

.information__bg img {
  width: 100%;
}

.information__item {
  width: 33.333%;
}

.information__item:nth-child(3) {
  padding-left: 12.4rem;
}

.information__item:nth-child(2) {
  padding: 0 12.4rem;
  position: relative;
}

.information__item:nth-child(2):before,
.information__item:nth-child(2):after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -3rem;
  background: #201901;
  width: 1px;
  height: 6rem;
}

.information__item:nth-child(2):before {
  left: 0;
}

.information__item:nth-child(2):after {
  right: 0;
}

.information__item h3 {
  color: #FFC600;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}

.information__item p {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
}

.contact {
  padding: 10rem 0 12rem;
}

.contact__wrap {
  border-radius: 1.5rem;
  padding: 8rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__media {
  width: 100%;
  max-width: 44.8rem;
}

.contact__title {
  margin-bottom: 7rem;
}

.contact__title h2 {
  margin-bottom: 4rem;
  color: #fff;
}

.contact__title p {
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
}

.contact__title a {
  margin-top: 2rem;
  color: #FFC600;
}

.contact__title a:hover {
  color: #fff;
}

.contact__img {
  max-width: 41.5rem;
}

.contact__form {
  width: 100%;
  max-width: 47.8rem;
}

.contact__form label {
  color: #FFF;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
  display: block;
  margin-bottom: 1.6rem;
}

.contact__form input {
  display: block;
  margin-bottom: 3.2rem;
  width: 100%;
  background: transparent;
  border-radius: 0.8rem;
  border: 1px solid #6F7A83;
  color: #8C8C8C;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
  padding: 1.5rem 1.6rem;
}

.contact__form input:focus {
  border-color: #FFC600;
  color: #FFC600;
}

.about {
  padding: 10rem 0 10rem;
}

.about__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.6rem;
}

.about__item:last-of-type {
  margin-bottom: 0;
}

.about__item-title {
  color: #FFC600;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.about__item-desc {
  width: 100%;
  max-width: 640px;
}

.about__item-desc p {
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
  margin-bottom: 1.6rem;
}

.about__item-desc p:last-of-type {
  margin-bottom: 0;
}

.full-text {
  padding: 10rem 0;
  color: #6F7A83;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.bread-crumbs {
  top: 15rem;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
}

.bread-crumbs .container {
  height: auto;
}

.bread-crumbs ul {
  display: flex;
}

.bread-crumbs li {
  margin-right: 3.2rem;
  color: #FFC600;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
  position: relative;
}

.bread-crumbs li:after {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  right: -2.4rem;
  top: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.66667 11.3334L10 8.00008L6.66667 4.66675' stroke='%238C8C8C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.bread-crumbs li:last-of-type {
  margin-right: 0;
}

.bread-crumbs li:last-of-type:after {
  display: none;
}

.bread-crumbs a {
  color: #8C8C8C;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 14px */
  text-transform: capitalize;
}

.bread-crumbs a:hover {
  color: #FFC600;
}

.service__page__page-wrap {
  counter-reset: awesome-counter;
}

.service__page .service__item {
  counter-increment: awesome-counter;
  border-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.6rem;
  padding-left: 11.2rem;
  position: relative;
}

.service__page .service__item:first-of-type {
  border-top: 0;
}

.service__page .service__item:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "0" counter(awesome-counter);
  color: #FFC600;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
}

.service__page .service__item-desc {
  width: 100%;
  max-width: 44.8rem;
}

.service__page .service__item-desc h4 {
  color: #FFF;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 33.6px */
  margin-bottom: 4rem;
}

.service__page .service__item-desc p {
  margin-bottom: 1.6rem;
  color: #8C8C8C;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
}

.service__page .service__item-media {
  border-radius: 1.5rem;
  background: linear-gradient(99deg, #090808 10.82%, #12181C 94.38%);
  width: 100%;
  max-width: 56rem;
  padding: 7.2rem;
}

.service__page .service__item-media img {
  width: 100%;
}

.card {
  padding: 10rem 0 22rem;
}

.card__item {
  margin-bottom: 22rem;
}

.card__item:last-of-type {
  margin-bottom: 0;
}

.card__item-title {
  color: #FFF;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 4rem;
}

.card__item-title h2 {
  color: #fff;
}

.card__item-media {
  width: 100%;
  margin-bottom: 9.6rem;
}

.card__item-media img {
  width: 100%;
}

.card__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.card__inner-title {
  color: #FFC600;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  max-width: 54rem;
}

.card__inner-text {
  width: 100%;
  max-width: 64rem;
  color: #6F7A83;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
}

.card__inner-text p {
  margin-bottom: 1.6rem;
}

.card__inner-text p:last-of-type {
  margin-bottom: 0;
}

.contact__item {
  border-bottom: 1px solid #201901;
  margin-bottom: 3.2rem;
  padding-bottom: 3.2rem;
}

.contact__item li {
  display: flex;
  margin-bottom: 3.2rem;
}

.contact__item li:last-of-type {
  margin-bottom: 0;
}

.contact__item li span {
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.contact__item li span:first-of-type {
  width: 100%;
  max-width: 22.4rem;
  color: #FFC600;
}

.contact__item li span:nth-of-type(2) {
  color: #8C8C8C;
}

.contact__item li p {
  color: #8C8C8C;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
  max-width: 26rem;
}

.contact__item li a {
  color: #8C8C8C;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  /* 25.6px */
  max-width: 26rem;
}

.contact__item li a:hover {
  color: #FFC600;
}

@media (min-width: 1200px) {
  .header__content_nav ul li a:hover {
    color: #FFC600;
  }

  .header__content_cross {
    display: none;
  }

  .button._light:hover {
    color: #FFFFFF;
  }

  .button._light:hover:before {
    bottom: -1px;
  }

  .button._black:hover {
    color: #0A0A0A;
  }

  .button._black:hover:before {
    bottom: calc(100% + 2px);
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1199px) {
  .header {
    top: 0.7rem;
  }

  .header__content {
    padding: 1.9rem 1.6rem;
  }

  .header__content_logo {
    height: 2.6rem;
  }

  .header__content_nav {
    position: fixed;
    top: -100%;
    width: 100vw;
    max-height: 100%;
    overflow-y: auto;
    background-color: #FFFFFF;
    left: 0;
    flex-direction: column;
    padding: 10.4rem 2.4rem 4rem;
    transition: 500ms;
  }

  .header__content_nav ul {
    flex-direction: column;
  }

  .header__content_nav ul li {
    margin: 0 0 1.7rem 0;
  }

  .header__content_nav ul li a {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .header__content .button {
    width: 100%;
  }

  .header__content .button span {
    width: 100%;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.4rem;
  }

  p small {
    font-size: 1.2rem;
  }

  p strong {
    line-height: 133%;
    font-size: 1.6rem;
  }

  html {
    font-size: 2.7777777778vw;
  }

  .root {
    padding: 0 0 7.2rem 0;
  }

  .container {
    padding: 0 0.8rem;
  }

  .container._large {
    padding: 0 2.4rem;
  }

  .button-large span {
    padding: 1.6rem 4.8rem;
  }
}