//========colors:
//red:
$col-red-prim: #E30517;
$col-red-sec: #E6483B;
$col-red: #E85243;
$brand-color-yellow: #FFC600;

//black:
$col-black: #0A0A0A;
//gray:
$col-grey-800: #8C8C8C;
$col-grey-700: #D1D1D1;
$col-grey-600: #DDDDDD;
$col-grey-500: #E8E8E8;
$col-grey-400: #F3F3F3;
$col-grey-300: #F9F9F9;
$col-grey-200: #EAECF0;
//white:
$col-white: #FFFFFF;
//========other:
//base_font:
$fontfamily: 'Raleway', sans-serif;
//breakpoints:
$mob: 567px;
$desktop: 568px;
$desktop-sm: 768px;
$desktop-sl: 992px;
$desktop-x: 1199px;
$desktop-l: 1200px;
$desktop-xl: 1536px;














